$primary-color: #00f1b2;

$primary-blue: #4285f5;

$border-default-color: #dcdcdc;

$grey-font-color: #c1c1c1;

$grey-font-header-magic-link: #606060;

$grey-font-color-back: #7f7f7f;

$red-color: #f34b62;